@import 'tailwindcss';
@import 'uniwind';
@import 'heroui-native/styles';

@source '../node_modules/heroui-native/lib';

@layer theme {
  @variant light {
    --background: hsl(43 38% 95%);
    --foreground: hsl(72 7% 14%);
    --surface: hsl(43 45% 99%);
    --surface-foreground: hsl(72 7% 14%);
    --surface-secondary: hsl(42 24% 92%);
    --surface-secondary-foreground: hsl(72 7% 20%);
    --default: hsl(42 24% 92%);
    --default-foreground: hsl(72 7% 20%);
    --muted: hsl(72 4% 46%);
    --accent: hsl(16 54% 43%);
    --accent-foreground: hsl(43 45% 99%);
    --field-background: hsl(43 45% 99%);
    --field-foreground: hsl(72 7% 14%);
    --field-placeholder: hsl(72 4% 46%);
    --field-border: hsl(39 19% 83%);
    --separator: hsl(39 19% 83%);
    --border: hsl(39 19% 83%);
    --focus: hsl(16 54% 43%);
  }

  @variant dark {
    --background: hsl(80 7% 8%);
    --foreground: hsl(43 29% 93%);
    --surface: hsl(75 6% 12%);
    --surface-foreground: hsl(43 29% 93%);
    --surface-secondary: hsl(72 6% 16%);
    --surface-secondary-foreground: hsl(43 29% 90%);
    --default: hsl(72 6% 16%);
    --default-foreground: hsl(43 29% 90%);
    --muted: hsl(66 5% 64%);
    --accent: hsl(17 66% 64%);
    --accent-foreground: hsl(80 7% 8%);
    --field-background: hsl(75 6% 12%);
    --field-foreground: hsl(43 29% 93%);
    --field-placeholder: hsl(66 5% 64%);
    --field-border: hsl(70 6% 21%);
    --separator: hsl(70 6% 21%);
    --border: hsl(70 6% 21%);
    --focus: hsl(17 66% 64%);
  }
}

:root {
  --font-display:
    Spline Sans, Inter, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Noto Color Emoji;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  --font-rounded: 'SF Pro Rounded', 'Hiragino Maru Gothic ProN', Meiryo, 'MS PGothic', sans-serif;
  --font-serif: Georgia, 'Times New Roman', serif;
}
